body {
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 2% 2% 3% 2%;
  background-color: #2B2B2B;
}

header h4 {
  padding: 7% 2% 0% 2%;
}

a {
  font-size: 12px;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2em;
  color: white;
  padding-top: 20px;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  font-size: .8em;
}

h4 {
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .7em;
  padding-top: 9%;
  padding-bottom: 1%;
}

h5 {
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: .6em;
}
.right-side-header {
  width: 15%;
  padding-right: 2%;
  text-align: center;
}

.left-side-header {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  color: #838488;
}

.main-header {
  color: #2B2B2B;
  padding: 3% 0 1% 2%;
}

.link-container {
  width: 90%;
  margin: 2%;
  background-color: #EFEFEF;
  padding: 3%;
}

.card {
  width: 200px;
  height: 300px;
  margin: .6%;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #77787A;
  text-align: right;
  padding-right: 7%;
  display: flex;
  align-items: top;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5% 5% 20% 5%;
}

.right-side-card-header {
  display: flex;
  flex-direction: column;
  color: white;
  width: 20%;
}

.left-side-card-header {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.card-body {
  padding: 5%;
}

.highlight {
  color: #32B8FF;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#down {
  width: 7px;
  height: 7px;
  padding-left: 7px;
  margin-bottom: 1%;
}

#profile {
  height: 20px;
  padding-right: 7px;
}
